/*
* Taken from a guide for gitub pages by James McGlone
* http://jmcglone.com/guides/github-pages/
*/
body, html {
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
	padding-top: 30px;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.caption{
	left: 0;
	top: 50%;
	width: 100%;
	color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 1%;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0.5;
}
#section0{
	background-image: url(../images/bg1.jpg);
	background-size:cover
}
#section0 h1{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
#section2{
	background-image: url(../images/bg4.jpg);
	padding: 6% 0 0 0;
	background-size:cover
}
#section1{
	background-image: url(../images/bg3.jpg);
	padding: 6% 0 0 0;
	opacity: 0.95;
	background-size:cover
}
#section3 h1{
	color: #000;
}
#aboutid{
	position: absolute;
	left: 10%;
	top: 10%;
	color: #aaa;
}

#aboutlist{
	position: absolute;
	left: 10%;
	top: 21%;
	color: #aaa;
	text-align:left;
}
#mentions{
	color:#1c1d16;
}
#captionExp{
	position: relative;
	left: 5%;
	top: -30%;
    padding-top: 100px;
	color: #aaa;
	text-align:left;
}
#btnImg{
	background-color: Transparent;
	border: none;
	height:32px;
	width:32px;
}
#btnSubmit{
	background-color: transparent;
	color: white;
	border: none;
	height:32px;
	width:32px;
}
img{
	height:32px;
	width:32px;	
}
#txtForm{
	background-color:transparent;
	color:white;
	width: 40%;
	resize: none;
	border:none;
	overflow:auto;
}
::placeholder { /* Most modern browsers support this now. */
   color:white;
}
textarea{
	height: 80px;
	
}
